
* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

body {
    background: blue;
}

h1 {
    font-size: medium;
}

h3 {
    text-align: center;
}

